.test_main {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  background-color: rgb(236, 77, 77);
}
.test_slave{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background-color: rgb(103, 103, 139);
}